<div class="jumbotron mt-4">
    <h1 class="display-4">Notas App Nodejs y MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam dignissimos culpa nihil? Veniam, reprehenderit velit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iure corrupti provident quidem? Deleniti, ut.</p>
    <a href="#" class="btn btn-preimary">boton</a>
</div>