{{#if success_msg}}
   <div style="display:flex; justify-content: space-between;" class="alert alert-success alert-dismissible fade show" role="alert">
        {{success_msg}}
    <button  type="button" class=" btn-primary btn-close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
{{/if}}

{{#if errors_msg}}
   <div style="display:flex; justify-content: space-between;" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{errors_msg}}
    <button  type="button" class=" btn-primary btn-close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
{{/if}}